<form [formGroup]="form">
  <mat-form-field class="termination-form__item">
    <mat-label>Cluster</mat-label>
    <mat-select formControlName="cluster" (selectionChange)="clusterSelect($event)">
      <mat-option *ngFor="let cluster of clusters" [value]="cluster.id">
        {{ cluster.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="termination-form__item">
    <mat-label>Clients</mat-label>
    <mat-select multiple formControlName="clients">
      <mat-option *ngFor="let client of clients" [value]="client.id">
        {{ client.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="termination-form__item">
    <mat-label>Expiration date</mat-label>
    <input matInput [matDatepicker]="$any(sp)" [min]="minDate" formControlName="expiresAt" />
    <mat-datepicker-toggle matSuffix [for]="sp"></mat-datepicker-toggle>
    <mat-datepicker #sp></mat-datepicker>
  </mat-form-field>
</form>
