@import '../../../../variables';

$margin: 12px;
$header-height: 64px;
$header-small-height: 56px;

:host {
  margin: $margin;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2 * #{$margin} - #{$footer-height} - #{$header-height});
  @media (max-width: 599px) {
    height: calc(100vh - 2 * #{$margin} - #{$footer-height} - #{$header-small-height});
  }
}

.config-graph-editor-header__toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  margin: 8px 0 8px auto;
}

.config-graph-editor-header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 4px;
}

.config-graph-editor__container {
  flex: 1;
}

.status-icon {
  cursor: pointer;
}
